<div class="card m-b-0">
  <div class="card-body">
    <mat-dialog-content style="max-width: 600px">
      <h2 class="mb-12">{{ form }} Card</h2>
      <hr class="mb-20" />
      <div class="wrapper" *ngIf="!showForm">
        <ng-container *ngFor="let card of cards; let i = index">
          <div class="creditCard">
            <span>
              <strong>{{ card.brand }}</strong> XXXX {{ card.last4 }}

              <span class="defaultTag" *ngIf="card.defaultCard">Default</span>
            </span>
            <mat-menu #appMenu="matMenu">
              <ng-template matMenuContent>
                <button
                  type="button"
                  [disabled]="card.defaultCard"
                  class="menuBtn"
                  mat-menu-item
                  (click)="setDefaultCard(i)"
                >
                  Make default
                </button>
                <button type="button" class="menuBtn deleteCard" mat-menu-item (click)="deleteCard(i)">
                  <span> Delete </span>
                </button>
              </ng-template>
            </mat-menu>

            <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </ng-container>

        <div class="btn-container m-t-24" [class.d-none]="showForm">
          <button type="button" class="addBtn" data-toggle="modal" (click)="toggleForm()">
            <i-feather name="credit-card" class="icon-20 m-r-10 submit-icon"></i-feather>
            <span>Add Card</span>
          </button>
        </div>
      </div>

      <div class="formBtn" *ngIf="showForm">
        <div id="card-element" class="m-b-20"></div>
        <button
          type="button"
          mat-button-ripple-uninitialized
          mat-flat-button
          color="accent"
          class="w-100 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-accent mat-mdc-button-base"
          mat-button-is-fab="false"
          (click)="addNewCard()"
        >
          <span class="mdc-button__label"> Add </span><span class="mat-mdc-focus-indicator"></span
          ><span class="mat-mdc-button-touch-target"></span></button
        ><button
          type="button"
          mat-button-ripple-uninitialized
          mat-stroked-button
          color="warn"
          class="w-100 m-t-8 mdc-button mdc-button--outlined mat-mdc-outlined-button mat-warn mat-mdc-button-base"
          mat-button-is-fab="false"
          (click)="toggleForm()"
        >
          <span class="mdc-button__label"> Cancel </span><span class="mat-mdc-focus-indicator"></span
          ><span class="mat-mdc-button-touch-target"></span>
        </button>
      </div>
    </mat-dialog-content>
  </div>
</div>
