.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  position: relative;
}

table{
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.icon-18{
  height: fit-content;
  display: inline-flex;
  margin: 6px;
  cursor: pointer;
}

.action, .status{
  text-align: center;
}

.action > .d-flex {
  align-items: center;
}

.cancel{
  width: 28px;
  height: 28px;
  color: #cf352a;
}

.table-ride-time {
  width: 90px;
}

.jDist, .jTime, .tFare {
  width: 0px;
}

.dataPicker{
  width: 140px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

td span{
  white-space: nowrap;
}

mat-error {
  font-size: 13px;
  margin-left: -5px;
}

.serviceType{
  width: 160px;
}

.filterBtn, .filterActionBtn{
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.filterActionBtn{
  font-size: 15px;
  margin-top: 10px;
}

.mdc-button__label{
  display: flex;
  align-items: center;
}

.driverName{
  justify-content: center;
  align-items: center;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exportMenu{
  width: 112px;
  background: transparent;
  border: 2px solid black;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0px;
  padding: 6px 12px;
}

.exportItem{
  display: flex!important;
}

@media screen and (max-width: 1150px) {
  .btn-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .filterBtn{
    max-width: 100px;
  }

  .filter, .filterBtn{
    margin-top: 20px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 860px) {

  .search-box{
    margin-bottom: 35px;
  }
}