<div class="card m-b-0">
  <div class="card-body">
    <mat-dialog-content style="max-width: 600px">
      <h2 class="mb-12">Set Service Type</h2>
      <hr class="mb-20" />
      <div class="wrapper">
        <ng-container *ngFor="let serviceType of serviceTypes; let i = index">
          <div class="creditCard">
            <span>
              <strong>{{ serviceType.vehicleType }}</strong>

              <span class="defaultTag" *ngIf="serviceType.isAssigned">Assigned</span>
            </span>
            <mat-menu #appMenu="matMenu">
              <ng-template matMenuContent>
                <button
                  type="button"
                  [disabled]="serviceType.isAssigned"
                  class="menuBtn"
                  mat-menu-item
                  (click)="setServiceType(i)"
                >
                  <span> Assign </span>
                </button>
                <button
                  type="button"
                  class="menuBtn deleteCard"
                  mat-menu-item
                  (click)="removeType(i)"
                  *ngIf="serviceType.isAssigned"
                >
                  <span> Delete </span>
                </button>
              </ng-template>
            </mat-menu>

            <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </ng-container>

        <div
          class="alert alert-border-info alert-text-info background-none d-flex fs-14 f-w-400 align-items-center rounded m-b-16 m-t-16"
          role="alert"
          *ngIf="noServiceType"
        >
          <i-feather name="info" class="text-info feather-base me-12"></i-feather>
          <span>Service type is not added in {{ data.driver.city.name }}</span>
        </div>
        <div
          class="alert alert-border-info alert-text-info background-none d-flex fs-14 f-w-400 align-items-center rounded m-b-16 m-t-16"
          role="alert"
          *ngIf="alert && !noServiceType"
        >
          <i-feather name="info" class="text-info feather-base me-12"></i-feather>
          <span>No service type assigned to this driver</span>
        </div>
      </div>
    </mat-dialog-content>
  </div>
</div>
