@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Patrick+Hand&display=swap");

.icon-20 {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.formBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.m-h-75 {
  max-height: 75px;
}

.countryFlag {
  height: 13.5px;
  border-radius: 1px;
  position: relative;
  top: 1.5px;
  margin-right: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

mat-error {
  font-size: 13px;
  margin-left: -5px;
}

.radioError {
  margin: 0px 0px 0px 0px!important;
}

.rounded-circle {
  width: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

mat-card {
  width: fit-content;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.f-s-15 {
  font-size: 15px;
}

mat-panel-description {
  display: flex;
  justify-content: flex-end;
}

.inputContainer {
  height: 80vh;
  margin-right: 3rem;
}

.inputContainer mat-card {
  width: 100%;
}

.stopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 60%;
  height: 70vh;
  margin-top: 2rem;
}

.map-container .map {
  height: 100%;
  width: 100%;
}

.showRide {
  color: white;
}

/* Estimated Meter */

.box {
  display: flex;
  color: #414141;
  margin: 0px;
  padding: 12px 20px 12px 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.25rem;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
}

.box > h4,
.totalFarePrice {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Bubblegum Sans", sans-serif !important;
}

.totalFarePrice {
  font-size: 20px;
}

.box .d-flex {
  flex-wrap: wrap;
}

.box .distance img,
.box .time img {
  display: inline;
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.box .time img {
  width: 20px;
  height: 20px;
}

.box .distance,
.box .time {
  display: flex;
  align-items: center;
}

.box .distance,
.box .time,
.box .distance span,
.box .time span {
  text-wrap: nowrap;
  letter-spacing: 1px;
  font-size: 19px;
  font-family: "Patrick Hand", cursive !important;
}

#distance,
#time {
  margin-left: 3px;
}

.scheduleRide {
  display: flex;
  align-items: center;
}

.scheduleRide h4 {
  font-size: 15px;
}

.bookRide {
  background-color: transparent;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 5px;
  box-shadow: rgb(31, 31, 31) 4px 4px 0px 0px!important;
  color: rgb(31, 31, 31);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.bookRide:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}

.bookRide:focus {
  color: rgb(31, 31, 31);
}

.bookRide:active {
  box-shadow: rgb(31, 31, 31) 2px 2px 0px 0px!important;
  transform: translate(2px, 2px)!important;
}

@media screen and (max-width: 1380px) {
  .userCard {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1320px) {
  .userInput {
    flex-direction: column;
  }
  .country-code {
    width: 100% !important;
  }
}

@media screen and (max-width: 1080px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userCard {
    flex-direction: row;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: none !important;
    margin-right: 0rem;
  }

  .map-container {
    width: 90%;
    height: 75vh;
  }
}

@media screen and (max-width: 555px) {
  .userCard {
    flex-direction: column;
  }
}
