.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  position: relative;
}

table{
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.icon-18{
  height: fit-content;
  display: inline-flex;
  margin: 6px;
  cursor: pointer;
}

.action, .status{
  text-align: center;
}

.action > .d-flex {
  align-items: center;
}

.cancel{
  width: 28px;
  height: 28px;
  color: #cf352a;
}

.table-ride-time {
  width: 90px;
}

.jDist, .jTime, .tFare {
  width: 0px;
}

.dataPicker{
  width: 140px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


// Search box

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search{
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all .5s ease-in-out;
  color: rgba(0,0,0,.8);
}
.input-search::placeholder{
  color:rgba(0, 0,0,.5);
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 100;
}
.btn-search{
  padding: 5px;
  margin: 10px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: rgba(0,0,0,.7);
  background-color:transparent;
  pointer-events: painted;  
}

td span{
  white-space: nowrap;
}

mat-error {
  font-size: 13px;
  margin-left: -5px;
}

.serviceType{
  width: 160px;
}

.filterBtn, .filterActionBtn{
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.filterActionBtn{
  font-size: 15px;
  margin-top: 10px;
}

.mdc-button__label{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .btn-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .filterBtn{
    max-width: 100px;
  }

  .filter, .filterBtn{
    margin-top: 20px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 860px) {

  .search-box{
    margin-bottom: 35px;
  }
}