<div class="btn-wrapper">
  <div class="search-box m-l-32">
    <button class="btn-search" (click)="rideSearch()">
      <i class="fas fa-search"></i>
    </button>
    <input
      type="text"
      [(ngModel)]="searchText"
      class="input-search"
      (keyup)="clearSearch()"
      (keydown.enter)="rideSearch()"
      placeholder="Type to Search..."
    />
  </div>
</div>

<mat-card class="w-100">
  <mat-card-content>
    <h2 class="m-b-20 m-l-6">Ride Request</h2>

    <img
      src="../../../assets/images/nothingFound.png"
      class="d-block m-auto"
      width="250px"
      *ngIf="!dataSource.length"
    />
    <div class="table-responsive" *ngIf="dataSource.length">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100" role="table">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell class="fw-medium" *matCellDef="let i = index">
            {{ i + (pageIndex - 1) * 4 + 1 }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Name</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.userName }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="pickUp">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Pick Up</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.pickUp }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="dropOff">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Drop Off</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.dropOff }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="rideDate">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Ride Date</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.rideDate }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="rideTime">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Ride Time</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.rideTime }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="journeyDistance">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Journey Distance</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.journeyDistance }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="journeyTime">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Journey Time</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.journeyTime }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="totalFare">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Estimated Fare</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.totalFare }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th class="status" mat-header-cell *matHeaderCellDef>Status</th>
          <td class="status" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.status }}</p>
            <span class="bg-light-warning mat-body-2 f-w-600 p-x-12 p-y-6 f-s-12 rounded-pill">
              In Progress
            </span>
            <!-- <span class="bg-light-primary mat-body-2 f-w-600 p-x-12 p-y-6 f-s-12 rounded-pill">
              In Progress
            </span>
            <span class="bg-light-accent mat-body-2 f-w-600 p-x-12 p-y-6 f-s-12 rounded-pill">
              In Progress
            </span>
            <span class="bg-light-success mat-body-2 f-w-600 p-x-12 p-y-6 f-s-12 rounded-pill">
              Open
            </span>
            <span class="bg-light-error mat-body-2 f-w-600 p-x-12 p-y-6 f-s-12 rounded-pill">
              Closed
            </span> -->
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th class="action" mat-header-cell *matHeaderCellDef>Action</th>
          <td class="action" mat-cell *matCellDef="let element; let i = index">
            <div class="d-flex">
              <a class="icon-18">
                <i-feather name="x" class="cancel"></i-feather>
              </a>
              <a class="icon-18 m-l-8">
                <img
                  src="../../../assets/images/assignRide.png"
                  alt="assignDriver"
                  width="24"
                  height="auto"
                />
              </a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
          (click)="onTRclick(i)"
        ></tr>
      </table>
    </div>
    <mat-paginator
      class="paginator"
      (page)="handlePage($event)"
      [length]="totalRideCounts"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [hidePageSize]="true"
      [pageIndex]="pageIndex - 1"
      aria-label="Select page"
      *ngIf="dataSource.length"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
