<section>
  <div class="invoice">
    <div class="top_line"></div>
    <div class="header">
      <div class="i_row">
        <div class="i_logo">
          <img src="../../../../assets/images/brand.png" alt="Company Logo" width="160px" />
        </div>
        <div class="i_title m-t-6">
          <h2>INVOICE</h2>
          <div class="i_number m-b-4">
            <p>Invoice No: {{ ride.rideID }}</p>
          </div>
          <p class="p_title text_right">{{ ride.rideDate }}</p>
        </div>
      </div>
      <div class="ride-details m-b-24">
        <div class="passenger-details">
          <h1>Thanks for riding,</h1>

          <div class="p-l-6 m-b-20">
            <h2 class="name m-b-10">{{ ride.user.name }}</h2>
            <div class="mail m-b-2">
              <i-feather name="mail" class="mailBtn"></i-feather>
              {{ ride.user.email }}
            </div>
            <div class="mail m-b-2">
              <i-feather name="phone" class="mailBtn"></i-feather>
              {{ ride.user.phoneCode }} {{ ride.user.phone }}
            </div>
          </div>

          <div class="right-container p-l-6">
            <p class="pickUpPoint">{{ ride.pickUp }}</p>
            <ng-container *ngFor="let stop of stopAddress">
              <p class="stopPoint">{{ stop }}</p>
            </ng-container>
            <p class="dropOffPoint">{{ ride.dropOff }}</p>
          </div>
        </div>

        <div class="driver-details m-l-16 m-t-12">
          <h3 class="m-b-4">ID: {{ ride.driver.driverID }}</h3>
          <h2>{{ ride.driver.name }}</h2>

          <div class="mail m-b-2">
            <img src="../../../../assets/images/car.png" alt="car" class="driverCar" />
            {{ ride.serviceType.vehicleType }}
          </div>
          <div class="mail m-b-2">
            <i-feather name="phone" class="driverCar"></i-feather>
            {{ ride.driver.phoneCode }} {{ ride.driver.phone }}
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="i_table">
        <div class="i_table_head">
          <div class="i_row">
            <div class="i_col w_15">
              <p class="p_title">#</p>
            </div>
            <div class="i_col w_55">
              <p class="p_title">DESCRIPTION</p>
            </div>
            <div class="i_col w_15">
              <p class="p_title">PRICE</p>
            </div>
            <div class="i_col w_15">
              <p class="p_title">TOTAL</p>
            </div>
          </div>
        </div>
        <div class="i_table_body">
          <div class="i_row">
            <div class="i_col w_15">
              <p>{{ ride.rideID }}</p>
            </div>
            <ng-container *ngIf="ride.totalFare == ride.serviceType.minFare; else pricing">
              <div class="i_col w_55">
                <p>Minimum Fare Price</p>
              </div>
              <div class="i_col w_15">
                <p><span class="currency">&#8377;</span>{{ ride.serviceType.minFare }}</p>
              </div>
              <div class="i_col w_15">
                <p><span class="currency">&#8377;</span>{{ ride.serviceType.minFare }}</p>
              </div>
            </ng-container>
            <ng-template #pricing>
              <div class="i_col w_55">
                <p>Base Price Distance - ({{ ride.serviceType.basePriceDistance }} km)</p>
              </div>
              <div class="i_col w_15">
                <p><span class="currency">&#8377;</span>{{ ride.serviceType.basePrice }}</p>
              </div>
              <div class="i_col w_15">
                <p><span class="currency">&#8377;</span>{{ ride.serviceType.basePrice }}</p>
              </div>
            </ng-template>
          </div>
          <div class="i_row" *ngIf="ride.totalFare != ride.serviceType.minFare">
            <div class="i_col w_15"></div>
            <div class="i_col w_55">
              <p>
                Unit Distance Price - ({{ ride.journeyDistance - ride.serviceType.basePriceDistance }}
                km)
              </p>
            </div>
            <div class="i_col w_15">
              <p><span class="currency">&#8377;</span>{{ ride.serviceType.unitDistancePrice }}</p>
            </div>
            <div class="i_col w_15">
              <p>
                <span class="currency">&#8377;</span
                >{{
                  (
                    (ride.journeyDistance - ride.serviceType.basePriceDistance) *
                    ride.serviceType.unitDistancePrice
                  ).toFixed(2)
                }}
              </p>
            </div>
          </div>
          <div class="i_row" *ngIf="ride.totalFare != ride.serviceType.minFare">
            <div class="i_col w_15"></div>
            <div class="i_col w_55">
              <p>Unit Time Price - ({{ ride.journeyTime }} min)</p>
            </div>
            <div class="i_col w_15">
              <p><span class="currency">&#8377;</span>{{ ride.serviceType.unitTimePrice }}</p>
            </div>
            <div class="i_col w_15">
              <p>
                <span class="currency">&#8377;</span
                >{{ ride.journeyTime * ride.serviceType.unitTimePrice }}
              </p>
            </div>
          </div>
        </div>
        <div class="i_table_foot">
          <div class="i_row">
            <div class="tm_left_footer">
              <h3 class="m-b-4"><b>Payment info: </b>{{ ride.paymentType.toUpperCase() }}</h3>
            </div>
            <div class="i_col w_15">
              <p class="total">Sub Total</p>
              <p>Tax 0%</p>
            </div>
            <div class="i_col w_15">
              <p class="total"><span class="currency">&#8377;</span>{{ ride.totalFare }}</p>
              <p><span class="currency">&#8377;</span>00.00</p>
            </div>
          </div>
          <div class="i_row grand_total_wrap">
            <div class="i_col w_50"></div>
            <div class="i_col w_50 grand_total">
              <p>
                <span>GRAND TOTAL:</span>
                <span><span class="currency">&#8377;</span>{{ ride.totalFare }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="tc">
        <h3 class="m-b-6"><b>Terms &amp; Conditions:</b></h3>
        <ul style="list-style: disc" class="m-l-24">
          <li class="m-b-6">
            The charges for utilizing Cabzy services will encompass any applicable taxes mandated by law.
            Cabzy retains the right to impose an additional fee for pickup services at various locations,
            along with any relevant taxes (including, but not limited to, GST).
          </li>
          <li class="m-b-6">
            All payments made by users are considered final and non-refundable, unless otherwise
            determined by Cabzy.
          </li>
          <li>
            Users have the entitlement to request reduced charges from a Third-Party Provider for
            services or goods received at the time of service or delivery.
          </li>
          <li class="m-b-6">
            Cabzy will respond accordingly to any request from a Third-Party Provider to adjust the
            charges for a specific service or product.
          </li>
          <li class="m-b-6">
            All charges are immediately due, and Cabzy will facilitate payment using the chosen payment
            method specified in the user's account. Subsequently, Cabzy will dispatch a receipt via
            email.
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom_line"></div>
  </div>
</section>
