// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
// Sidebar
// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@

.sidenav {
  min-width: 265px;
  box-shadow: 0px 7px 30px 0px $shadow;
  border: 0;

  .list-group {
    display: flex;
    align-items: center; 
  }

  .list-group a, .list-group div a {
    border-radius: 25px;
    cursor: pointer;
  }

  .submenu a{
    margin: 4px 0px;
  }

  .list-group div a:hover, .list-group a:hover{
    background-color: #f4f4f4;
  }

  .sidebar-menu {
    padding: 12px 17px;
    border-radius: 9px;

    &.activelink {
      background-color: $info !important;
      color: $white !important;
    }
  }

  .buy-flexy {
    background-color: $light-primary;
    border-radius: 10px;
  }

}
