<div class="card m-b-0">
  <div class="card-body">
    <mat-dialog-content style="max-width: 600px">
      <h2 class="mb-12">Assign Drivers</h2>
      <hr class="mb-20" />
      <div class="wrapper">
        <!-- <div
          class="alert alert-border-info alert-text-info background-none d-flex fs-14 f-w-400 align-items-center rounded m-b-16 m-t-16"
          role="alert"
          *ngIf="noServiceType"
        >
          <i-feather name="info" class="text-info feather-base me-12"></i-feather>
          <span>Service type is not added in {{ data.driver.city }}</span>
        </div>
        <div
          class="alert alert-border-info alert-text-info background-none d-flex fs-14 f-w-400 align-items-center rounded m-b-16 m-t-16"
          role="alert"
          *ngIf="alert && !noServiceType"
        >
          <i-feather name="info" class="text-info feather-base me-12"></i-feather>
          <span>No service type assigned to this driver</span>
        </div> -->
      </div>
    </mat-dialog-content>
  </div>
</div>
