.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.btn-container {
  display: inline-block;
  background-color: transparent;
  white-space: nowrap !important;
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #fec501;
  border-radius: 5px;
  color: #1d1d1d !important;
  text-decoration: none !important;
  font-size: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-container:hover .addBtn {
  box-shadow: 0 0 50px 0px rgba(254, 197, 1, 0.25);
}

.icon-20{
  width: 18px;
  height: 20px;
  margin-right: 6px;
  margin-top: 2px;
}

.form-card {
  max-width: 500px;
  margin: 0rem auto 5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.driverTable{
  width: 90% !important;
  margin: auto;
}

table{
  font-size: 14px;
  letter-spacing: 0.3px;
}

.form-wrapper{
  display: flex;
  cursor: pointer;
}

.form-wrapper > input[type='text']{
  padding-right: 20px;
  cursor: pointer;
}

.countryFlag {
  height: 13.5px;
  border-radius: 1px;
  position: relative;
  top: 1.5px;
  margin-right: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.info{
  position: relative;
  top: -15px;
  margin-left: 15px;
  color: #004085;
}

mat-error{
  font-size: 14px;
  margin-left: -5px;
}

.mat-mdc-outlined-button.mat-mdc-button-base{
  width: 200px;
  outline: 1px solid rgba(251, 150, 120, 0.7);
  font-weight: 500;
}

.formBtn{
  text-align: right;
}

.formBtn button {
  margin: 0px 8px 10px 5px;
}

.icon-18{
  height: fit-content;
  display: inline-flex;
  margin: 6px;
  cursor: pointer;
}

.action{
  text-align: center;
}

.edit, .delete{
  width: 18px;
  height: 18px;
  color: orange;
}

.delete{
  color: #cf352a;
}

.icon-18 img{
  border-radius: 2px;
}

.rounded-circle {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 860px) {
  .btn-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .btn-container{
    margin: 0px 0px 50px 32px;
  }
  .search-box{
    margin-bottom: 35px;
  }
}