<div class="wrapper d-flex w-100">
  <div class="inputContainer col-sm-4 m-b-48">
    <div
      class="select-menu"
      [class.active]="showDropdown"
      [class.disable]="isDisable"
      (click)="toggleDropdown()"
    >
      <div class="select-btn">
        <span #country>-- Select Country --</span>
        <i-feather name="chevron-down" [class.rotate180]="showDropdown" class="arrow"></i-feather>
      </div>
      <ul class="options">
        <li
          class="option"
          *ngFor="let country of countries"
          (click)="onSelectCountry(countryName.innerText, lat.value, lng.value, countryAlphaCode.value)"
        >
          <img src="{{ country.flag }}" />
          <span class="option-text" #countryName>{{ country.name }}</span>
          <input
            type="hidden"
            name="countryAlphaCode"
            value="{{ country.alphaCode }}"
            #countryAlphaCode
          />
          <input type="hidden" name="lat" value="{{ country.latLong[0] }}" #lat />
          <input type="hidden" name="lng" value="{{ country.latLong[1] }}" #lng />
        </li>
      </ul>
    </div>

    <form [formGroup]="cityForm">
      <mat-form-field
        class="w-100 fs-16"
        [class.mb-20]="cityInputTag?.invalid && cityInputTag?.touched"
        appearance="outline"
      >
        <mat-label>City Name</mat-label>
        <input matInput type="text" placeholder="Enter city name" formControlName="city" #city />
        <mat-error class="m-t-6" *ngIf="cityInputTag?.pristine || cityInputTag?.touched"
          ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
          <span *ngIf="cityInputTag?.hasError('required')"> Please enter city name !! </span>
        </mat-error>
      </mat-form-field>

      <!-- Button color and class option : primary, warn, accent, basic, disabled, link -->
      <button
        type="button"
        mat-fab
        extended
        color="accent"
        aria-label="Icon button with a save icon"
        class="mdc-fab mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab m-r-10 m-t-15"
        mat-button-is-fab="true"
        *ngIf="currentPolygon"
        (click)="onCitySubmit()"
        [disabled]="disableEditBtn"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
        <div class="mdc-button__label d-flex align-items-center submit-text">
          <i-feather name="save" class="icon-20 m-r-5 submit-icon"></i-feather>
          {{ form === "Add" ? "Add" : "Edit" }}
        </div>
        <span class="mat-mdc-focus-indicator"></span>
        <span class="mat-mdc-button-touch-target"></span>
        <span class="mat-mdc-button-ripple"></span>
      </button>

      <!-- Cancel Button -->

      <button
        type="button"
        mat-fab
        extended
        color="warn"
        aria-label="Icon button with a save icon"
        class="mdc-fab mat-mdc-fab mat-warn mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
        mat-button-is-fab="true"
        *ngIf="currentPolygon"
        (click)="resetForm()"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
        <div class="mdc-button__label d-flex align-items-center submit-text">
          <i-feather name="x" class="icon-20 m-r-5 submit-icon"></i-feather>
          Cancel
        </div>
        <span class="mat-mdc-focus-indicator"></span>
        <span class="mat-mdc-button-touch-target"></span>
        <span class="mat-mdc-button-ripple"></span>
      </button>
    </form>

    <mat-card class="w-100 cityCard" *ngIf="selectedCountry">
      <mat-card-content>
        <h2 class="m-b-20 m-l-6">Cities</h2>

        <img
          src="../../../assets/images/noCity.png"
          class="d-block m-auto"
          width="180px"
          *ngIf="!dataSource.length"
        />
        <div class="table-responsive" *ngIf="dataSource.length">
          <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell class="fw-medium" *matCellDef="let i = index">
                {{ i + (pageIndex - 1) * 4 + 1 }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th class="nameCol" mat-header-cell *matHeaderCellDef>Name</th>
              <td class="nameCol" mat-cell *matCellDef="let element">
                <p class="mb-0 fw-medium">{{ element.name }}</p>
              </td>
            </ng-container>

            <!-- Budget Column -->
            <ng-container matColumnDef="action">
              <th class="action" mat-header-cell *matHeaderCellDef>Action</th>
              <td class="action" mat-cell *matCellDef="let element; let i = index">
                <a class="icon-18" (click)="editPolygon(i)">
                  <i-feather name="edit" class="edit"></i-feather>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            class="paginator"
            (page)="handlePage($event)"
            [length]="totalCityCounts"
            [pageSize]="pageSize"
            [disabled]="isDisable"
            [showFirstLastButtons]="true"
            [hidePageSize]="true"
            [pageIndex]="pageIndex - 1"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="map-container">
    <div class="map" id="map"></div>
  </div>
</div>
