.form-card {
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4)
}

mat-error{
  font-size: 14px;
  margin-left: -5px;
}

.formBtn{
  text-align: right;
}

.formBtn button {
  margin: 0px 8px 10px 5px;
}