.toastTitle{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.toastMessage{
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}

button.toast-close-button {
  margin-right: 5px;
  transform: scale(1.25);
}

.toast-container .ngx-toastr {
  width: 320px !important;
  padding: 15px 15px 15px 55px;
  border-radius: 10px;
}

mat-error {
  margin-top: 6px;
  font-weight: 500;
  color: #e95861 !important;
}

mat-error i {
  padding-right: 5px;
}

.table-responsive {
  overflow-x: auto;
}

.d-inline {
  display: inline!important
}

.d-inline-block {
  display: inline-block!important
}

.d-block {
  display: block!important
}

.d-grid {
  display: grid!important
}

.d-table {
  display: table!important
}

.d-table-row {
  display: table-row!important
}

.d-table-cell {
  display: table-cell!important
}

.d-flex {
  display: flex!important
}

.d-inline-flex {
  display: inline-flex!important
}

.d-none {
  display: none!important
}

.m-0 {
  margin: 0!important
}

.m-2 {
  margin: 2px!important
}

.m-4 {
  margin: 4px!important
}

.m-6 {
  margin: 7px!important
}

.m-8 {
  margin: 8px!important
}

.m-10 {
  margin: 10px!important
}

.m-12 {
  margin: 12px!important
}

.m-15 {
  margin: 15px!important
}

.m-16 {
  margin: 16px!important
}

.m-20 {
  margin: 20px!important
}

.m-24 {
  margin: 24px!important
}

.m-30 {
  margin: 30px!important
}

.m-32 {
  margin: 32px!important
}

.m-48 {
  margin: 48px!important
}

.m-auto {
  margin: auto!important
}

.m-x-0 {
  margin-left: 0!important;
  margin-right: 0!important
}

.m-x-2 {
  margin-left: 2px!important;
  margin-right: 2px!important
}

.m-x-4 {
  margin-left: 4px!important;
  margin-right: 4px!important
}

.m-x-6 {
  margin-left: 7px!important;
  margin-right: 7px!important
}

.m-x-8 {
  margin-left: 8px!important;
  margin-right: 8px!important
}

.m-x-10 {
  margin-left: 10px!important;
  margin-right: 10px!important
}

.m-x-12 {
  margin-left: 12px!important;
  margin-right: 12px!important
}

.m-x-15 {
  margin-left: 15px!important;
  margin-right: 15px!important
}

.m-x-16 {
  margin-left: 16px!important;
  margin-right: 16px!important
}

.m-x-20 {
  margin-left: 20px!important;
  margin-right: 20px!important
}

.m-x-24 {
  margin-left: 24px!important;
  margin-right: 24px!important
}

.m-x-30 {
  margin-left: 30px!important;
  margin-right: 30px!important
}

.m-x-32 {
  margin-left: 32px!important;
  margin-right: 32px!important
}

.m-x-48 {
  margin-left: 48px!important;
  margin-right: 48px!important
}

.m-x-auto {
  margin-left: auto!important;
  margin-right: auto!important
}

.m-y-0 {
  margin-top: 0!important;
  margin-bottom: 0!important
}

.m-y-2 {
  margin-top: 2px!important;
  margin-bottom: 2px!important
}

.m-y-4 {
  margin-top: 4px!important;
  margin-bottom: 4px!important
}

.m-y-6 {
  margin-top: 7px!important;
  margin-bottom: 7px!important
}

.m-y-8 {
  margin-top: 8px!important;
  margin-bottom: 8px!important
}

.m-y-10 {
  margin-top: 10px!important;
  margin-bottom: 10px!important
}

.m-y-12 {
  margin-top: 12px!important;
  margin-bottom: 12px!important
}

.m-y-15 {
  margin-top: 15px!important;
  margin-bottom: 15px!important
}

.m-y-16 {
  margin-top: 16px!important;
  margin-bottom: 16px!important
}

.m-y-20 {
  margin-top: 20px!important;
  margin-bottom: 20px!important
}

.m-y-24 {
  margin-top: 24px!important;
  margin-bottom: 24px!important
}

.m-y-30 {
  margin-top: 30px!important;
  margin-bottom: 30px!important
}

.m-y-32 {
  margin-top: 32px!important;
  margin-bottom: 32px!important
}

.m-y-48 {
  margin-top: 48px!important;
  margin-bottom: 48px!important
}

.m-y-auto {
  margin-top: auto!important;
  margin-bottom: auto!important
}

.m-t-0 {
  margin-top: 0!important
}

.m-t-2 {
  margin-top: 2px!important
}

.m-t-4 {
  margin-top: 4px!important
}

.m-t-6 {
  margin-top: 7px!important
}

.m-t-8 {
  margin-top: 8px!important
}

.m-t-10 {
  margin-top: 10px!important
}

.m-t-12 {
  margin-top: 12px!important
}

.m-t-15 {
  margin-top: 15px!important
}

.m-t-16 {
  margin-top: 16px!important
}

.m-t-20 {
  margin-top: 20px!important
}

.m-t-24 {
  margin-top: 24px!important
}

.m-t-30 {
  margin-top: 30px!important
}

.m-t-32 {
  margin-top: 32px!important
}

.m-t-48 {
  margin-top: 48px!important
}

.m-t-auto {
  margin-top: auto!important
}

.m-b-0 {
  margin-bottom: 0!important
}

.m-b-2 {
  margin-bottom: 2px!important
}

.m-b-4 {
  margin-bottom: 4px!important
}

.m-b-6 {
  margin-bottom: 7px!important
}

.m-b-8 {
  margin-bottom: 8px!important
}

.m-b-10 {
  margin-bottom: 10px!important
}

.m-b-12 {
  margin-bottom: 12px!important
}

.m-b-15 {
  margin-bottom: 15px!important
}

.m-b-16 {
  margin-bottom: 16px!important
}

.m-b-18 {
  margin-bottom: 18px!important
}

.m-b-20 {
  margin-bottom: 20px!important
}

.m-b-24 {
  margin-bottom: 24px!important
}

.m-b-30 {
  margin-bottom: 30px!important
}

.m-b-32 {
  margin-bottom: 32px!important
}

.m-b-40 {
  margin-bottom: 40px!important
}

.m-b-48 {
  margin-bottom: 48px!important
}

.m-b-auto {
  margin-bottom: auto!important
}

.m-r-0 {
  margin-right: 0!important
}

.m-r-2 {
  margin-right: 2px!important
}

.m-r-4 {
  margin-right: 4px!important
}

.m-r-5 {
  margin-right: 5px!important
}

.m-r-6 {
  margin-right: 7px!important
}

.m-r-8 {
  margin-right: 8px!important
}

.m-r-10 {
  margin-right: 10px!important
}

.m-r-12 {
  margin-right: 12px!important
}

.m-r-15 {
  margin-right: 15px!important
}

.m-r-16 {
  margin-right: 16px!important
}

.m-r-20 {
  margin-right: 20px!important
}

.m-r-24 {
  margin-right: 24px!important
}

.m-r-30 {
  margin-right: 30px!important
}

.m-r-32 {
  margin-right: 32px!important
}

.m-r-48 {
  margin-right: 48px!important
}

.m-r-auto {
  margin-right: auto!important
}

.m-l-0 {
  margin-left: 0!important
}

.m-l-2 {
  margin-left: 2px!important
}

.m-l-4 {
  margin-left: 4px!important
}

.m-l-6 {
  margin-left: 7px!important
}

.m-l-8 {
  margin-left: 8px!important
}

.m-l-10 {
  margin-left: 10px!important
}

.m-l-12 {
  margin-left: 12px!important
}

.m-l-15 {
  margin-left: 15px!important
}

.m-l-16 {
  margin-left: 16px!important
}

.m-l-20 {
  margin-left: 20px!important
}

.m-l-24 {
  margin-left: 24px!important
}

.m-l-30 {
  margin-left: 30px!important
}

.m-l-32 {
  margin-left: 32px!important
}

.m-l-48 {
  margin-left: 48px!important
}

.m-l-auto {
  margin-left: auto!important
}

.p-l-0 {
  padding-left: 0!important
}

.p-l-2 {
  padding-left: 2px!important
}

.p-l-4 {
  padding-left: 4px!important
}

.p-l-6 {
  padding-left: 7px!important
}

.p-l-8 {
  padding-left: 8px!important
}

.p-l-10 {
  padding-left: 10px!important
}

.p-l-12 {
  padding-left: 12px!important
}

.p-l-15 {
  padding-left: 15px!important
}

.p-l-16 {
  padding-left: 16px!important
}

.p-l-20 {
  padding-left: 20px!important
}

.p-l-24 {
  padding-left: 24px!important
}

.p-l-30 {
  padding-left: 30px!important
}

.p-l-32 {
  padding-left: 32px!important
}

.p-l-48 {
  padding-left: 48px!important
}

.p-r-0 {
  padding-right: 0!important
}

.p-r-2 {
  padding-right: 2px!important
}

.p-r-4 {
  padding-right: 4px!important
}

.p-r-6 {
  padding-right: 7px!important
}

.p-r-8 {
  padding-right: 8px!important
}

.p-r-10 {
  padding-right: 10px!important
}

.p-r-12 {
  padding-right: 12px!important
}

.p-r-15 {
  padding-right: 15px!important
}

.p-r-16 {
  padding-right: 16px!important
}

.p-r-20 {
  padding-right: 20px!important
}

.p-r-24 {
  padding-right: 24px!important
}

.p-r-30 {
  padding-right: 30px!important
}

.p-r-32 {
  padding-right: 32px!important
}

.p-r-48 {
  padding-right: 48px!important
}

.p-0 {
  padding: 0!important
}

.p-2 {
  padding: 2px!important
}

.p-4 {
  padding: 4px!important
}

.p-6 {
  padding: 7px!important
}

.p-8 {
  padding: 8px!important
}

.p-10 {
  padding: 10px!important
}

.p-12 {
  padding: 12px!important
}

.p-15 {
  padding: 15px!important
}

.p-16 {
  padding: 16px!important
}

.p-20 {
  padding: 20px!important
}

.p-24 {
  padding: 24px!important
}

.p-30 {
  padding: 30px!important
}

.p-32 {
  padding: 32px!important
}

.p-48 {
  padding: 48px!important
}

.p-x-0 {
  padding-left: 0!important;
  padding-right: 0!important
}

.p-x-2 {
  padding-left: 2px!important;
  padding-right: 2px!important
}

.p-x-4 {
  padding-left: 4px!important;
  padding-right: 4px!important
}

.p-x-6 {
  padding-left: 7px!important;
  padding-right: 7px!important
}

.p-x-8 {
  padding-left: 8px!important;
  padding-right: 8px!important
}

.p-x-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}

.p-x-12 {
  padding-left: 12px!important;
  padding-right: 12px!important
}

.p-x-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}

.p-x-16 {
  padding-left: 16px!important;
  padding-right: 16px!important
}

.p-x-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}

.p-x-24 {
  padding-left: 24px!important;
  padding-right: 24px!important
}

.p-x-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}

.p-x-32 {
  padding-left: 32px!important;
  padding-right: 32px!important
}

.p-x-48 {
  padding-left: 48px!important;
  padding-right: 48px!important
}

.p-y-0 {
  padding-top: 0!important;
  padding-bottom: 0!important
}

.p-y-2 {
  padding-top: 2px!important;
  padding-bottom: 2px!important
}

.p-y-4 {
  padding-top: 4px!important;
  padding-bottom: 4px!important
}

.p-y-6 {
  padding-top: 7px!important;
  padding-bottom: 7px!important
}

.p-y-8 {
  padding-top: 8px!important;
  padding-bottom: 8px!important
}

.p-y-10 {
  padding-top: 10px!important;
  padding-bottom: 10px!important
}

.p-y-12 {
  padding-top: 12px!important;
  padding-bottom: 12px!important
}

.p-y-15 {
  padding-top: 15px!important;
  padding-bottom: 15px!important
}

.p-y-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.p-y-20 {
  padding-top: 20px!important;
  padding-bottom: 20px!important
}

.p-y-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important
}

.p-y-30 {
  padding-top: 30px!important;
  padding-bottom: 30px!important
}

.p-y-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important
}

.p-y-48 {
  padding-top: 48px!important;
  padding-bottom: 48px!important
}

.p-t-0 {
  padding-top: 0!important
}

.p-t-2 {
  padding-top: 2px!important
}

.p-t-4 {
  padding-top: 4px!important
}

.p-t-6 {
  padding-top: 7px!important
}

.p-t-8 {
  padding-top: 8px!important
}

.p-t-10 {
  padding-top: 10px!important
}

.p-t-12 {
  padding-top: 12px!important
}

.p-t-15 {
  padding-top: 15px!important
}

.p-t-16 {
  padding-top: 16px!important
}

.p-t-20 {
  padding-top: 20px!important
}

.p-t-24 {
  padding-top: 24px!important
}

.p-t-30 {
  padding-top: 30px!important
}

.p-t-32 {
  padding-top: 32px!important
}

.p-t-48 {
  padding-top: 48px!important
}

.p-b-0 {
  padding-bottom: 0!important
}

.p-b-2 {
  padding-bottom: 2px!important
}

.p-b-4 {
  padding-bottom: 4px!important
}

.p-b-6 {
  padding-bottom: 7px!important
}

.p-b-8 {
  padding-bottom: 8px!important
}

.p-b-10 {
  padding-bottom: 10px!important
}

.p-b-12 {
  padding-bottom: 12px!important
}

.p-b-15 {
  padding-bottom: 15px!important
}

.p-b-16 {
  padding-bottom: 16px!important
}

.p-b-20 {
  padding-bottom: 20px!important
}

.p-b-24 {
  padding-bottom: 24px!important
}

.p-b-30 {
  padding-bottom: 30px!important
}

.p-b-32 {
  padding-bottom: 32px!important
}

.p-b-48 {
  padding-bottom: 48px!important
}


/* Styling autosuggestion box */

.pac-container {
  font-family: "Ubuntu", "Poppins", sans-serif;
  background-color: rgb(248, 248, 248);
  padding: 0px;
  margin-top: 22px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.pac-item {
  padding: 0.3rem 1rem;
  border: none;
  cursor: pointer;
}

.pac-item:hover,
.pac-item-selected {
  background-color: rgb(224, 224, 224);
}

.pac-icon,
.pac-item > span:last-child {
  font-size: 0.7rem;
  color: rgb(53, 53, 53);
  margin-left: 5px;
}

.pac-matched,
.pac-item-query {
  font-size: 0.9rem;
  color: rgb(41, 41, 41);
}

.pac-logo::after {
  height: 0px;
  background-image: none;
}

.f-w-100 {
  font-weight: 100!important
}

.f-w-200 {
  font-weight: 200!important
}

.f-w-300 {
  font-weight: 300!important
}

.f-w-400 {
  font-weight: 400!important
}

.f-w-500 {
  font-weight: 500!important
}

.f-w-600 {
  font-weight: 600!important
}

.f-w-700 {
  font-weight: 700!important
}

.f-w-800 {
  font-weight: 800!important
}

.f-w-900 {
  font-weight: 900!important
}