<div class="btn-wrapper" [class.d-none]="showForm">
  <div class="btn-container" *ngIf="!showForm">
    <button type="button" class="addBtn" data-toggle="modal" (click)="toggleForm()">
      <i-feather name="user-plus" class="icon-20 m-r-10 submit-icon"></i-feather>
      <span>Add New Vehicle</span>
    </button>
  </div>
</div>

<div class="card form-card" *ngIf="showForm">
  <div class="card-body">
    <h2 class="mb-12">{{ form }} Vehicle</h2>
    <hr class="mb-32" />
    <form [formGroup]="vehicleForm" enctype="multipart/form-data">
      <mat-form-field
        class="w-100 fs-16"
        [class.mb-16]="vehicleType?.invalid && vehicleType?.touched"
        appearance="outline"
      >
        <mat-label>Vehicle</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your vehicle type"
          formControlName="vehicleType"
        />
        <mat-error class="m-t-6" *ngIf="vehicleType?.invalid && vehicleType?.touched"
          ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
          <span *ngIf="vehicleType?.hasError('required')">Please enter the type of vehicle</span>
        </mat-error>
      </mat-form-field>

      <div class="mb-32">
        <mat-form-field class="fs-16">
          <div class="form-wrapper">
            <input
              style="display: inline"
              matInput
              type="text"
              placeholder="Upload image..."
              readonly
              tabindex="-1"
              (click)="fileInput.click()"
              formControlName="vehicleImage"
            />
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/*" />
            <button
              type="button"
              mat-stroked-button
              color="accent"
              class="mdc-button mdc-button--outlined mat-mdc-outlined-button mat-accent mat-mdc-button-base"
              mat-button-is-fab="false"
              (keydown.enter)="fileInput.click()"
              (click)="fileInput.click()"
            >
              <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span
              ><span class="mdc-button__label">Browse File</span
              ><span class="mat-mdc-focus-indicator"></span
              ><span class="mat-mdc-button-touch-target"></span
              ><span class="mat-mdc-button-ripple"></span>
            </button>
          </div>
          <mat-error class="m-t-6" *ngIf="vehicleImage?.pristine && vehicleImage?.touched"
            ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
            <span *ngIf="vehicleImage?.hasError('required')">
              Vehicle Image is required. Please upload !!
            </span>
            <span *ngIf="vehicleImage?.errors?.['fileSizeExceeded']">
              Please upload file size lesser than 5 MB
            </span>
            <span *ngIf="vehicleImage?.errors?.['fileInvalid']">
              Please upload an image in JPG, JPEG, or PNG format
            </span>
          </mat-error>
        </mat-form-field>
        <small class="info" *ngIf="!(vehicleImage?.pristine && vehicleImage?.touched)">
          <i>** Max file size to upload is <b>5 MB</b></i>
        </small>
      </div>

      <br />

      <!-- Button color and class option : primary, warn, accent, basic, disabled, link -->
      <button
        (click)="onVehicleSubmit()"
        type="button"
        mat-fab
        extended
        color="accent"
        aria-label="Icon button with a save icon"
        class="mdc-fab mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab m-r-10"
        mat-button-is-fab="true"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
        <div class="mdc-button__label d-flex align-items-center submit-text">
          <i-feather name="save" class="icon-20 m-r-5 submit-icon"></i-feather>
          {{ form === "Add" ? "Save" : "Edit" }}
        </div>
        <span class="mat-mdc-focus-indicator"></span>
        <span class="mat-mdc-button-touch-target"></span>
        <span class="mat-mdc-button-ripple"></span>
      </button>

      <!-- Cancel Button -->

      <button
        (click)="toggleForm()"
        type="button"
        mat-fab
        extended
        color="warn"
        aria-label="Icon button with a save icon"
        class="mdc-fab mat-mdc-fab mat-warn mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
        mat-button-is-fab="true"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
        <div class="mdc-button__label d-flex align-items-center submit-text">
          <i-feather name="x" class="icon-20 m-r-5 submit-icon"></i-feather>
          Cancel
        </div>
        <span class="mat-mdc-focus-indicator"></span>
        <span class="mat-mdc-button-touch-target"></span>
        <span class="mat-mdc-button-ripple"></span>
      </button>
    </form>
  </div>
</div>

<!-- -------- Added Vehicle Type -------- -->

<div class="row">
  <div
    class="col-sm-6 col-lg-3 ng-star-inserted"
    *ngFor="let vehicle of vehicleTypeData"
    (click)="editForm(vehicle._id, vehicle.vehicleType)"
  >
    <mat-card class="mat-mdc-card mdc-card cardWithShadow productcard overflow-hidden position-relative">
      <input type="hidden" name="vehicleId" value="{{ vehicle._id }}" />
      <button
        mat-fab
        color="accent"
        aria-label="edit icon"
        class="edit-btn mdc-fab mat-mdc-fab mat-accent mat-mdc-button-base"
        mat-button-is-fab="true"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
        <span class="mdc-button__label"><i-feather name="edit" class="icon-20"></i-feather></span>
        <span class="mat-mdc-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span>
        <span class="mat-mdc-button-ripple"></span>
      </button>

      <div class="vehicle-image">
        <img
          alt="imgSrc"
          mat-card-image=""
          class="mat-mdc-card-image mdc-card__media"
          src="http://localhost:3000/{{ vehicle.vehicleImage }}"
        />
      </div>
      <mat-card-content class="mat-mdc-card-content pb-24 pt-12 text-center">
        <mat-card-title class="mat-mdc-card-title mat-headline-2 mb-4"
          ><h3>{{ vehicle.vehicleType }}</h3></mat-card-title
        >
      </mat-card-content>
    </mat-card>
  </div>
</div>
