<div class="card form-card">
  <div class="card-body">
    <h2 class="mb-12">{{ form }} Vehicle Pricing</h2>
    <hr class="mb-32" />
    <form [formGroup]="pricingForm" autocomplete="off" enctype="multipart/form-data">
      <div class="inputContainer d-flex">
        <div class="d-flex inputBox" [class.m-b-18]="country?.invalid && country?.touched">
          <label for="country">Country : </label>
          <mat-form-field>
            <mat-select
              id="country"
              placeholder="Select Country"
              formControlName="country"
              [disabled]="isDisable"
            >
              <ng-container *ngFor="let country of countries">
                <mat-option value="{{ country }}" (click)="fetchCity(country)" [disabled]="isDisable">{{
                  country
                }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error class="m-t-6" *ngIf="country?.invalid && country?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="country?.hasError('required')">Please select country</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-flex inputBox" [class.m-b-18]="city?.invalid && city?.touched">
          <label for="city">City : </label>
          <mat-form-field>
            <mat-select
              id="city"
              placeholder="Select City"
              formControlName="city"
              [disabled]="isDisable"
            >
              <ng-container *ngFor="let city of cities; let i = index">
                <mat-option value="{{ city }}" (click)="onSelectCity(i)" [disabled]="isDisable">{{
                  city
                }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error class="m-t-6" *ngIf="city?.invalid && city?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="!country?.value">Please select country first</span>
              <span *ngIf="country?.value && city?.hasError('required')">Please select city</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-flex inputBox" [class.m-b-18]="vehicleType?.invalid && vehicleType?.touched">
          <label for="vehicleType">Vehicle Type : </label>
          <mat-form-field>
            <mat-select
              id="vehicleType"
              placeholder="Select Vehicle Type"
              formControlName="vehicleType"
              [disabled]="isDisable"
            >
              <ng-container *ngFor="let vehicle of vehicles">
                <mat-option value="{{ vehicle }}" [disabled]="isDisable">{{ vehicle }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error class="m-t-6" *ngIf="vehicleType?.invalid && vehicleType?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="!country?.value">Please select country first</span>
              <span *ngIf="country?.value && vehicleType?.hasError('required')"
                >Please select vehicle type</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="inputBox">
          <hr class="divider mb-32 mt-24" />
        </div>

        <div class="d-flex inputBox" [class.m-b-18]="driverProfit?.invalid && driverProfit?.touched">
          <label for="driverProfit">Driver Profit : </label>
          <mat-form-field floatLabel="always">
            <input
              matInput
              type="number"
              id="driverProfit"
              class="driverProfit example-right-align"
              placeholder="0"
              min="0"
              max="80"
              formControlName="driverProfit"
            />

            <span matTextSuffix>%</span>
            <mat-error class="m-t-6" *ngIf="driverProfit?.invalid && driverProfit?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="driverProfit?.hasError('min')">Value must be a positive number</span>
              <span *ngIf="driverProfit?.hasError('required')">Please enter driver profit</span>
              <span *ngIf="driverProfit?.hasError('aboveEighty')">Maximum allowed profit is 80%</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-flex inputBox" [class.m-b-18]="minFare?.invalid && minFare?.touched">
          <label for="minFare">Minimum Fare : </label>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0"
              id="minFare"
              placeholder="Enter minimum fare price"
              formControlName="minFare"
            />
            <mat-error class="m-t-6" *ngIf="minFare?.invalid && minFare?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="minFare?.hasError('min')">Value must be a positive number</span>
              <span *ngIf="minFare?.hasError('required')">Please enter minimum fare</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div
          class="d-flex inputBox"
          [class.m-b-18]="basePriceDistance?.invalid && basePriceDistance?.touched"
        >
          <label for="bpd">Distance for Base Price : </label>
          <mat-form-field>
            <mat-select
              id="vehicleType"
              placeholder="Select base price distance"
              formControlName="basePriceDistance"
            >
              <ng-container *ngFor="let distance of distances">
                <mat-option value="{{ distance }}">{{ distance }}</mat-option>
              </ng-container>
            </mat-select>

            <mat-error class="m-t-6" *ngIf="basePriceDistance?.invalid && basePriceDistance?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="basePriceDistance?.hasError('required')"
                >Please select distance for base price</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-flex inputBox" [class.m-b-18]="basePrice?.invalid && basePrice?.touched">
          <label for="basePrice">Base Price : </label>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0"
              id="basePrice"
              placeholder="Enter base price"
              formControlName="basePrice"
            />
            <mat-error class="m-t-6" *ngIf="basePrice?.invalid && basePrice?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="basePrice?.hasError('min')">Value must be a positive number</span>
              <span *ngIf="basePrice?.hasError('required')">Please enter base price</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div
          class="d-flex inputBox"
          [class.m-b-18]="unitDistancePrice?.invalid && unitDistancePrice?.touched"
        >
          <label for="udp">Price per Unit Distance : </label>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0"
              id="udp"
              placeholder="Enter unit distance price"
              formControlName="unitDistancePrice"
            />
            <mat-error class="m-t-6" *ngIf="unitDistancePrice?.invalid && unitDistancePrice?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="unitDistancePrice?.hasError('min')">Value must be a positive number</span>
              <span *ngIf="unitDistancePrice?.hasError('required')"
                >Please enter price per unit distance</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex inputBox" [class.m-b-18]="unitTimePrice?.invalid && unitTimePrice?.touched">
          <label for="udp">Price per Unit Time (min) : </label>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0"
              id="udp"
              placeholder="Enter unit time price"
              formControlName="unitTimePrice"
            />
            <mat-error class="m-t-6" *ngIf="unitTimePrice?.invalid && unitTimePrice?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="unitTimePrice?.hasError('min')">Value must be a positive number</span>
              <span *ngIf="unitTimePrice?.hasError('required')">Please enter price per unit time</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex inputBox" [class.m-b-18]="maxSpace?.invalid && maxSpace?.touched">
          <label for="udp">Max space : </label>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0"
              id="udp"
              placeholder="Enter maximum seats"
              formControlName="maxSpace"
            />
            <mat-error class="m-t-6" *ngIf="maxSpace?.invalid && maxSpace?.touched"
              ><i id="errorMark" class="fa-regular fa-circle-exclamation"></i>
              <span *ngIf="maxSpace?.hasError('min')">Value must be a positive number</span>
              <span *ngIf="maxSpace?.hasError('required')">Please enter maximum seating space</span>
              <span *ngIf="maxSpace?.hasError('maxAllowedSpace')">Maximum allowed space is 12 only</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <br />

      <div class="formBtn">
        <!-- Button color and class option : primary, warn, accent, basic, disabled, link -->
        <button
          (click)="onSubmitPricing()"
          type="button"
          mat-fab
          extended
          color="accent"
          aria-label="Icon button with a save icon"
          class="mdc-fab mat-mdc-fab mat-accent mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab m-r-10"
          mat-button-is-fab="true"
        >
          <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
          <div class="mdc-button__label d-flex align-items-center submit-number" min="0">
            <i-feather name="save" class="icon-20 m-r-5 submit-icon"></i-feather>
            {{ form }}
          </div>
          <span class="mat-mdc-focus-indicator"></span>
          <span class="mat-mdc-button-touch-target"></span>
          <span class="mat-mdc-button-ripple"></span>
        </button>

        <!-- Cancel Button -->

        <button
          (click)="resetForm()"
          type="button"
          mat-fab
          extended
          color="warn"
          aria-label="Icon button with a save icon"
          class="mdc-fab mat-mdc-fab mat-warn mat-mdc-button-base mdc-fab--extended mat-mdc-extended-fab"
          mat-button-is-fab="true"
        >
          <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
          <div class="mdc-button__label d-flex align-items-center submit-number" min="0">
            <i-feather name="x" class="icon-20 m-r-5 submit-icon"></i-feather>
            Cancel
          </div>
          <span class="mat-mdc-focus-indicator"></span>
          <span class="mat-mdc-button-touch-target"></span>
          <span class="mat-mdc-button-ripple"></span>
        </button>
      </div>
    </form>
  </div>
</div>

<mat-card class="w-100 cityCard" *ngIf="selectedCity">
  <mat-card-content>
    <h2 class="m-b-20 m-l-6">Cities</h2>

    <img
      src="../../../assets/images/nothingFound.png"
      class="d-block m-auto"
      width="250px"
      *ngIf="!dataSource.length"
    />
    <div class="table-responsive" *ngIf="dataSource.length">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100" role="table">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell class="fw-medium" *matCellDef="let i = index">
            {{ i + (pageIndex - 1) * 4 + 1 }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="city">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>City</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.city }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="vehicleType">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Vehicle Type</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.vehicleType }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="driverProfit">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Driver Profit (%)</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.driverProfit }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="minFare">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Min. Fare</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.minFare }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="basePriceDistance">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Base Price Distance</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.basePriceDistance }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="basePrice">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Base Price</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.basePrice }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="unitDistancePrice">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Unit Distance Price</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.unitDistancePrice }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="unitTimePrice">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Unit Time Price</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.unitTimePrice }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="maxSpace">
          <th class="nameCol" mat-header-cell *matHeaderCellDef>Max Space</th>
          <td class="nameCol" mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.maxSpace }}</p>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th class="action" mat-header-cell *matHeaderCellDef>Action</th>
          <td class="action" mat-cell *matCellDef="let element; let i = index">
            <a class="icon-18">
              <i-feather name="edit" class="edit" (click)="editPricing(i)"></i-feather>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      class="paginator"
      (page)="handlePage($event)"
      [length]="totalPricingCounts"
      [pageSize]="pageSize"
      [disabled]="isDisable"
      [showFirstLastButtons]="true"
      [hidePageSize]="true"
      [pageIndex]="pageIndex - 1"
      aria-label="Select page"
      *ngIf="dataSource.length"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
